<style>
    #chart-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
    }
</style>
<div id="chart-wrapper">
    <canvas id="myChart" phx-hook="chart"></canvas>
</div>