<.header>
  New Url
  <:subtitle>Use this form to manage url records in your database.</:subtitle>
</.header>

<.url_form changeset={@changeset} action={~p"/url"} />

<.back navigate={~p"/url"}>Back to url</.back>
